{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dylan's Hobbies</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="content">
      <h1>Dylan's Contact Information</h1>
      <h3>Reach Dylan at his personal/school email below:</h3>
      {% if email %}
      <p>{{email}}</p>
      {% else %}
      <p>No email added.</p>
      {% endif %}

      <div id="home-links">
        {% for api in apis %} {% if api.name != "View Contact Information" %}
        <a href="{{ api.path }}">|| {{ api.name }} ||</a>
        {% endif %} {% endfor %}
      </div>
    </div>
  </body>
</html>
